<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::body})">
<head>
<meta charset="UTF-8" />
<title>user-view status</title>
</head>
<body>


	<div class="card mr-3 ml-3">
		<div class="card-body" style="background-color:#e2e2e2;">
			
			<table class="table mt-3 text-center"style="color: purple;">
				<thead class="bg-info">
					<tr>
						<th scope="col">Request_ID</th>
						<th scope="col">DATE</th>
						
						<th scope="col">STATUS</th>
					</tr>
				</thead>
				<tbody style="background-color:#f1f8e9;">
					<tr th:each="R :${requests}">
						<td scope="row" th:text="${'WMS'+R.requestId}"></td>
						<td scope="row" th:text="${R.Date}"></td>
						
					
						<td><a style="color:fuchsia;"
							th:href="@{'/user/'+${R.requestId}+'/request_details'}"> VIEW
								STATUS HERE </a></td>
								</tr>
				</tbody>
			</table>
           
           <!-- 	Pagination part -->
		<nav aria-label="Page navigation example">
  <ul class="pagination">

    <li  th:if="${currentpage != 0}"  class="page-item"><a th:href="@{'/user/collection_history/'+${currentpage-1}}" class="page-link" href="#">Previous</a></li>

    <li th:classappend="${currentpage==i-1?'active':''}"  th:each="i: ${#numbers.sequence(1,totalpages)}" class="page-item"><a th:href="@{'/user/view_status/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>



    <li th:if="${currentpage+1 != totalpages}" class="page-item"><a th:href="@{'/user/collection_history/'+${currentpage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
           
		</div>

	</div>
	

</body>
</html>