@charset "ISO-8859-1";
body {
	background-color: #e2e2e2;
	
}
.bg-custom {
	background: #009688 !important;
}

@media only screen and (max-width: 600px){
	.sidebar{
	display: none;
	width: 80% !important;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 20px;
	
	}
	.content{
	margin-left: 0% !important;
	margin-top: 4%;
	}
	
}


.sidebar{
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;

}
.sidebar a{
	display: block;
	width: 100%;
	padding-left: 20px;
	padding-top: 10px;
	text-decoration: none;
	color: gray;
	
}
.sidebar a:hover{
	background: #e2e2e2;
}
.sidebar .divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}
.sidebar .welcome{
	text-align: left;
	margin-left:15px;
	font-size: 20px;
	color: green;
}
.sidebar .cross-btn{
	position: absolute;
	top: 0%;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}


.content{
	margin-left: 20%;
  margin-top: 4%;
}
.divider{
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 20px;
}

.table{
	font-size: 18px;

	background-color:#eeeeee;
	color:beige;
	text-align:justify; 
}
.field{

	color:
#c51162;
}
.divider-request{
	height: 1px;
	width: 100%;
	background:orange;
	margin-top: 20px;
}

.lable-field{
		color:
#c51162;
font-size: 17px;
font-family: serif;
}





 //search contetnt css

.search-container{
	 position: relative;
}

.search-result{
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid green;
	display: none;
}

.form-check-input-custom-checkbox{


width: 1rem;
height: 1rem;

}






