<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::body})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body class="Login-body">


	<div class="login-box">

		<h3> Enter New Password!! </h3>
		
		<form th:action="@{/change-password}" method="post">
			<div class="login-field">
			
			

				
				<input name="newpassword" type="password" placeholder="Enter Your New password"
					class="form-control mt-4" required="required" />
			</div>

			<div>
				<button type="submit"  class="btn">Conform</button>
			</div>
		</form>


	</div>



</body>
</html>